@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-primary: #1abc9c;
  --bg-secondary: #16a085;
  --color-primary: #fff;
  --color-secondary: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.contenedor {
  width: 100%;
  min-height: 100vh;
  padding: 1rem 3rem;
  overflow: hidden;
  margin-top: 5rem;
}

.titulo {
  font-size: 3rem;
  color: var(--bg-primary);
  margin-bottom: 1rem;
}

.subtitulo {
  font-size: 2rem;
  color: var(--bg-primary);
  margin-bottom: 1rem;
}

.section {
  min-height: 50vh;
  margin-top: 3rem;
  position: relative;
}

a {
  text-decoration: none;
  color: var;
}
