.footer {
  background-color: var(--bg-primary);
  color: var(--color-primary);
  padding: 30px 20px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__section {
  flex: 1;
  min-width: 220px;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.footer__text {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer__link {
  display: block;
  color: var(--color-primary);
  text-decoration: none;
  margin-bottom: 5px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__map {
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 8px;
}

.footer__copy {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  opacity: 0.7;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 2rem;
  z-index: 40;
}

.nav-logo {
  font-size: 1.5rem;
  color: var(--bg-primary);
  text-transform: uppercase;
}

.nav-list,
.nav-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-group #botonInicio.hidden,
.nav-group #botonRegistro.hidden,
.nav-group #botonCerrarSesion.hidden {
  display: none;
}

.nav-list .nav-item .nav-link {
  color: var(--bg-primary);
  cursor: pointer;
  display: inline-block;
}

.nav-list .nav-item .nav-link:hover {
  transform: scale(1.1);
}

.nav-group .nav-item .nav-link {
  padding: 10px 15px;
  background-color: var(--bg-primary);
  color: var(--color-primary);
  border-radius: 20px;
}

.nav-group .nav-item .nav-link:hover {
  background-color: var(--bg-secondary);
}

.nav-group #botonCerrarSesion {
  background-color: red;
}

.perfil {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  overflow: hidden;
}

.perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.perfil.hidden {
  display: none;
}

/* 📱 MOBILE */
@media (max-width: 576px) {
  .nav {
    flex-wrap: wrap;
    padding: 1rem;
  }

  .nav-toggle {
    display: block;
  }

  .nav-list,
  .nav-group {
    width: 100%;
    flex-direction: column;
    display: none;
  }

  .nav-list.active,
  .nav-group.active {
    display: flex;
  }

  .perfil {
    margin: 10px auto;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .nav {
    padding: 1rem 1.5rem;
  }

  .nav-list {
    gap: 0.5rem;
  }

  .nav-group .nav-link {
    padding: 8px 10px;
  }
}

@media (min-width: 992px) {
  .nav-list,
  .nav-group {
    display: flex !important;
  }
}
